{
  "env": {
    "browser": true,
    "es2020": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "standard",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "prettier",
    "@typescript-eslint"
  ],
  "rules": {
    "linebreak-style": "off",
    "react/prop-types": 0,
    "no-empty-pattern": 0,
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": true,
        "varsIgnorePattern": "^React$"
      }
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error",
          "debug"
        ]
      }
    ],
    "no-unsafe-optional-chaining": "error",
    "no-var": "error",
    "no-lonely-if": "error",
    "prefer-const": "error",
    "react/self-closing-comp": "error",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "indent": "off",
    "comma-dangle": "off",
    "space-before-function-paren": "off",
    "generator-star-spacing": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "prettier/prettier": "error",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    },
    "react": {
      "version": "detect" // detect react version
    }
  }
}
