name: Windows Release

on:
  push:
    tags:
      - v*
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js and Yarn
        uses: actions/setup-node@v3
        with:
          node-version: '14.18.0'
          cache: 'yarn'
      
      - name: Get package.json info
        id: info
        uses: jaywcjlove/github-action-package@main

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build application
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: yarn package

      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          name: Release v${{ steps.info.outputs.version }}
          tag: v${{ steps.info.outputs.version }}
          artifacts: |
            ./packages/AnimExperience Setup ${{ steps.info.outputs.version }}.exe
            ./packages/AnimExperience ${{ steps.info.outputs.version }}.msi
          allowUpdates: true