name: Windows Release

on:
  push:
    branches:
      - release-ci-cd
    tags:
      - v*

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js and Yarn
        uses: actions/setup-node@v3
        with:
          node-version: '14.18.0'
          cache: 'yarn'
      
      - name: Get package.json info
        id: info
        uses: jaywcjlove/github-action-package@main

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build application
        run: yarn package

      - name: Create zip archive
        uses: thedoctor0/zip-release@0.7.1
        with:
          type: zip
          filename: AnimExperience-v${{ steps.info.outputs.version }}-win-x64.zip
          directory: packages/win-unpacked/

      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          name: Release v${{ steps.info.outputs.version }}
          tag: v${{ steps.info.outputs.version }}
          artifacts: ./AnimExperience-v${{ steps.info.outputs.version }}-win-x64.zip,./packages/AnimExperience ${{ steps.info.outputs.version }}.exe
          allowUpdates: true