name: Windows Release

on:
  push:
    branches:
      - release-ci-cd
    tags:
      - v*

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js and Yarn
        uses: actions/setup-node@v3
        with:
          node-version: '14.18.0'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Get version number
        id: version
        run: echo ::set-output name=version::$(jq -r '.version' package.json)

      - name: Build application
        run: yarn package

      - name: Create zip archive
        uses: thedoctor0/zip-release@0.7.1
        with:
          type: zip
          filename: AnimExperience-v${{ steps.version.outputs.version }}-win-x64.zip
          directory: packages/win-unpacked/

      - name: Create release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: v${{ steps.version.outputs.version }}
          title: Release v${{ steps.version.outputs.version }}
          files: |
            ./AnimExperience-v${{ steps.version.outputs.version }}-win-x64.zip
            ./packages/AnimExperience ${{ steps.version.outputs.version }}.exe